/* Hair System Training Section Styles */

section#wrapper {
  max-width: none !important;
}

#content-wrapper.col-12,
section.l-wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

section#wrapper .row {
  overflow: hidden;
  display: block !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.salonshow-ttl {
  padding-bottom: 0 !important;
}

.salonshow-ttl * {
  color: white !important;
}

.salonshow-ttl h2 {
  margin: 0;
  line-height: 1.4em;
}

.salonshow-ttl p {
  margin: 0;
}

.b-w1170 {
  width: 1170px;
  margin: 0 auto;
}

.salon-show {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  font-size: 125%;
  color: white;
  height: 600px;
}

.salon-show .b-w1170 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.salon-show p {
  text-align: center;
  color: white;
}

.salonshow-ttl {
  font-size: 160%;
  padding-bottom: 40px;
  text-align: center !important;
}

.salonshow-ttl h2 {
  font-size: 187.5%;
  text-align: center !important;
}

.hairdresser {
  margin-top: 60px;
  border-bottom: #333333 solid 1px;
  padding-bottom: 50px;
}

.hairdresser .sub-box {
  width: 100%;
  padding-bottom: 40px;
}

.hairdresser p {
  line-height: 1.8em;
  word-wrap: break-word;
}

.hairdresser-pic {
  width: 37%;
  float: left;
  position: relative;
}

.hairdresser-pic img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  right: -10%;
}

.hairdresser-pic:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 300px;
  background-image: url(https://www.lavividhair.com/img/cms/tag/salon20220328/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.hairdresser-name {
  display: block;
  color: white;
  font-size: 220%;
  position: relative;
  z-index: 1;
  padding-left: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hairdresser-info {
  width: 56%;
  float: right;
}

.hairdresser-info dt {
  font-size: 125%;
  font-weight: bold;
}

.hairdresser-info dd {
  padding-top: 8px;
  display: flex !important;
  align-items: flex-start;
  margin-bottom: 0 !important;
}

.hairdresser-info dd span {
  display: block;
  margin-top: 4px;
}

.hairdresser-info dd p {
  font-size: 125%;
  line-height: 1.5em;
  margin: 0 0 0 15px;
}

.hairdresser-info dd a {
  color: #333333;
  text-decoration: none;
}

.hairdresser-info dd a:hover {
  text-decoration: underline;
}

.hairdresser-info iframe {
  width: 100%;
  height: 450px;
}

.salon-swiper {
  padding: 35px 9.4%;
  margin-top: 60px;
  background-image: url(https://www.lavividhair.com/img/cms/tag/salon20220328/bg_show.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}

.salon-swiper img {
  display: block;
  width: calc(100% - 10px);
  height: auto;
  border: white solid 5px;
}

.salon-swiper .uk-position-center-right-out {
  color: white !important;
}

.salon-swiper .uk-position-center-left-out {
  left: -50px;
  color: white !important;
}

.hairdresser-info-pic {
  width: 100%;
}

.hairdresser-info-pic img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Clearfix hack */
.hairdresser-info dd,
.hairdresser .sub-box {
  display: inline-block;
}

.hairdresser-info dd:after,
.hairdresser .sub-box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.hairdresser-info dd,
.hairdresser .sub-box {
  display: block;
}

/* Responsive Styles */
@media all and (max-width: 1199px) {
  .b-w1170 {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media all and (max-width: 767px) {
  .salon-show {
    height: auto;
    padding-top: 20%;
    padding-bottom: 20%;
  }

  .salonshow-ttl {
    font-size: 100%;
    text-align: center;
    padding-bottom: 15px;
  }

  .salon-show p {
    text-align: left;
    margin-left: 12px;
  }

  .hairdresser {
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .hairdresser-info,
  .hairdresser-pic {
    width: auto;
    float: none;
  }

  .hairdresser-pic img {
    width: 90%;
    right: auto;
    left: 10%;
  }

  .hairdresser-info dl {
    padding: 20px 0;
  }

  .hairdresser-info dd p,
  .hairdresser-info dt {
    font-size: 110%;
  }

  .hairdresser-info dd span {
    margin-top: 0;
  }

  .hairdresser-info iframe {
    height: 300px;
  }

  .hairdresser .sub-box {
    padding-bottom: 15px;
  }

  .hairdresser-name {
    font-size: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .hairdresser p {
    line-height: 1.5em;
  }

  .salon-swiper {
    margin-top: 30px;
    padding: 25px 35px;
  }

  .youtua {
    display: block !important;
    width: 58%;
  }

  .uk-position-center-right-out {
    right: -40px;
    left: auto;
  }

  .salon-swiper .uk-position-center-left-out {
    left: -40px;
    color: white !important;
  }
}


